@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.home-screen {
  background-image: url("/images/home-bg.avif") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f9fafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.start-img{
 position: absolute;
  /* padding-top: 3rem; */
  max-width: 500px;
  width: 90%;
  /* margin: 0 auto;  */
  /* flex-direction: column; */

}

.btnCon {
  /* background-color: rgb(92, 10, 175); */
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
/* From Uiverse.io by Pradeepsaranbishnoi */ 
.voltage-button {
  position: relative;
}

.voltage-button button {
  color: white;
  background: #0D1127;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;
  border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.voltage-button button:hover {
  cursor: pointer;
  background: #0F1C53;
}

.voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}


.game-screen {
  font-family: Arial, sans-serif;
  background-image: url("/images/bg2.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f9fafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 24px;
}

.title {
  letter-spacing: 0.25em;
  font-size: 32px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #9ca3af;
  margin-top: 4px;
}

.steps-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 12px;
  flex-wrap: wrap;
}

.steps {
  border: 1px solid #0e2a50;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.game-layout {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; 
  flex-direction: column;

}


.board {
  background:  rgba(15, 23, 42, 0.9);
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.info {
  background: rgba(15, 23, 42, 0.9);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}


.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
}

.hacker-label {
  color: #ef4444;
}

.defender-label {
  color: #1613cf;
}

.hacker-track,.defender-track {
  display: grid;
  gap: 4px;
  margin-bottom: 8px;
}


.row,.reverse-row {
  display: flex;
  gap: 4px;
}

.hacker-cell,.defender-cell {
  flex: 1;
  aspect-ratio: 1;  
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid #4b5563;
}

.hacker-cell {
  background: rgba(239, 68, 68, 0.15);
}

.defender-cell {
  background: rgba(26, 73, 190, 0.15);
}

.hacker-cell.active {
  background: rgba(239, 68, 68, 0.7);   
  border-color: #ef4444;
  color: #fff;
}


.defender-cell.active {
  background: rgba(40, 34, 197, 0.7);   
  border-color: #4022c5;
  color: #fff;
}


.data-center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
}
.dataCenter-img {
  width: 100px;         
  margin-bottom: 8px;   
}

.data-center {
  text-align: center;
  padding: 5px  50px; 
  border-radius: 999px;
  background: #1f2937;
  border: 1px dashed #facc15;
  color: #facc15;
  font-size: 13px;
  margin: 8px auto 16px;
  max-width: 200px;
}

#begin {
  margin-bottom: 12px;
  font-weight: 500;
}
.info p span {
  margin-left: 4px;
  font-weight: 600;
}
.reset-btn {
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 999px;
  border: none;
  background: #facc15;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn:hover {
  background: #dab008;
}

.popup-background {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}


.hidden {
  display: none;
}

.popup-box {
  background: #141e4d;
  border-radius: 16px;
  padding: 60px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.popup-section {
  margin-bottom: 12px;
}

.popup-section h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.popup-section p {
  font-size: 14px;
  line-height: 1.5;
}

.ans-area {
  border-radius: 50%;
  display: flex;
  flex:1;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}


.btn {
  border: none;
  border-radius: 999px;
  padding: 8px 20px;
  background: #2351b5;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background: #0043fd;
}

.action-popup {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}



@media (max-width: 768px) {
  .game-layout {
    flex-direction: column;
  }
}

#startBtn {
  /* background-color: aqua;
  position: absolute;
  top: 340px;
  left: 30px; */
}
